@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family:"Major Mono Display", monospace; ;
    src: url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
  }
}

@layer base{
  @font-face {
    font-family: 'Vercetti-Regular';
    src: url('./fonts/Vercetti-Regular.ttf') format('truetype');
  }
}

